.reels{
    display: block;
    width: 500px;
    height: 400px;
    margin-bottom: 70px;
    position: relative;
    z-index: 150;
}
.reels-video{
    object-fit: cover;
    width: 200px;
    height: 400px;
    display: inline-block;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.15s;
}

.reels-video:hover{
    opacity: 0.8;
}



.reels-video-div{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    position: relative;
}


.reels-profil-div{
    display: inline-block;
    position: absolute;
    z-index: 100;
}

.reels-buttons{
    display: inline-block;
    height: 300px;
    width: 200px;
}

.reels-buttons button{
    height: 30px;
    width: 30px;
    margin-top: 170px;
    margin-left: 10px;
}

.creater{
    position: absolute;
    width: 170px;
    height: 25px;
    display: inline-block;
    bottom: 0;
    left: 0;
    margin-left: 30px;
    margin-bottom: 15px;
    cursor:pointer;
    transition: all 0.15s;
}


.creater-profile{
    height: 25px;
    width: 25px;
    object-fit: cover;
    object-position: top;
    border-radius: 100px;
}
.creater-profile-div{
    display: inline-block;
    vertical-align: middle;
    
}

.creater-name{
    display: inline-block;
    font-family: roboto,arial;
    vertical-align: middle;
}

.photor{
    width: 22px;
    height: 28px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.photon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top;
}

.reels-profil{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}

.closer{
	opacity:1;
}